@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Roboto+Slab:wght@400;500;700&display=swap');

:root {
  --color-DarkBlue: #082B3F;
  --color-LightBlue: #0796C8;
  --color-Orange: #ED612E;
  --color-Yellow: #FEA107;

  --fm-Comfortaa: 'Comfortaa', cursive;
  --fw-ComfortaaLight: 300;
  --fw-ComfortaaMedium: 500;
  --fw-ComfortaaBold: 700;

  --fm-RobotoSlab: 'Roboto Slab', serif;
  --fw-RobotoRegular: 400;
  --fw-RobotoMedium: 500;
  --fw-RobotoBold: 700;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
